# Visual Studio 관련 파일 및 디렉토리
.vs/
*.suo
*.user
*.userossc
*.sln
*.VC.db
*.opensdf
*.sdf
*.ipch
*.pdb

# 언리얼 엔진 관련 디렉토리
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/
enc_temp_folder/

# 임시 파일 및 로그 파일들
*.log
*.tlog
*.log~
*.tmp
*.temp
*.bak

# IDE 관련 파일들
.idea/

# 언리얼 관련 파일 
*.uasset